*.jl.cov
*.jl.*.cov
*.jl.mem
.ipynb_checkpoints
*.tmp
*.aux
*.log
*.out
*.tex
Manifest.toml
CwJ/**/*.html
CwJ/**/*.pdf
CwJ/**/cache
/*/*/jl_*/
TODO.md
docs/build/
docs/site/
markdown/*
notebook/*
pdf/*
script/*
